@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

body {
    background-color: #006dc0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

.barra {
    height: 5px;
    position: fixed;
    top: 0;
}

.width-350 {
    width: 100%;
    max-width: 350px;
}

.button-download {
    border-bottom: 2px #b3b3b3 solid;
}